# =========================
# PostgreSQL
# =========================
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_secure_password

# =========================
# Django
# =========================
DEBUG=0  # 0 = production, 1 = development

DJANGO_SECRET_KEY='g9!qv4\$kL2@x8#PR7mz!sW7^tf3&NH0cV3jY0uD8eA'   # <--YOUR_SECRET_KEY_HERE

# Allowed hosts (comma-separated)
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,YOUR_HOST_IP    # <--YOUR IP HERE 
